:root{
    --main-height: 70%;
}

body{
    display: flex;
    flex-direction: row;
}

main{
    width: 70%;
}

aside{
    width: 30%;
}

ol{
    list-style: none;
    height: var(--main-height);
    width: 80%;
}

li{
    height: 3.3%;
    margin: 0 0 0.546% 0; 
    background-color: #099bbc;
    border-radius: 100%;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: center;
}

li:hover{
    background-color: greenyellow; 
    color: #480064;
}

li > div{
    width: 20%;
}

img{
    width: 100%;
    height: var(--main-height);
}

.currWord{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}